.container {
  /* background-color: darkgoldenrod; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-left: 0px;
}

.bulletAndClass {
  display: flex;
}

p {
  /* background-color: pink; */
  margin: 0;
}

i {
  /* background-color: grey; */
  margin-right: 4px;
  padding-top: 3px;
}

h3 {
  /* background-color: red; */
  margin: 0;
}
