.appContainer {
  /* background-color: lightblue; */
  /* width: 90%; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.appContent {
  /* background-color: rgb(65, 130, 170); */
  min-height: 620px;
  min-width: 350px;
}

h4 {
  color: white;
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

#underConstruction {
  text-align: center;
  padding: 10px;
}

.appButtons {
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(203, 203, 203);
  color: rgb(6, 6, 79);
  opacity: 0.8;
  cursor: pointer;
}

/* background-color: rgb(6, 6, 79); */

.button:hover {
  background-color: rgb(6, 6, 79);
  color: white;
}

.active {
  background-color: rgb(6, 6, 79);
  color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
